html.overlay-open .navbar-fixed-top{z-index:400}html.js fieldset.collapsed{height:auto}html.js input.form-autocomplete{background-image:none}
body{position:relative; background-color: #f1f1f1;}
body.admin-expanded.admin-vertical.admin-nw .navbar,body.admin-expanded.admin-vertical.admin-sw .navbar{margin-left:260px}body.navbar-is-fixed-top{padding-top:64px!important}body.navbar-is-fixed-bottom{padding-bottom:64px!important}body.toolbar{padding-top:30px!important}body.toolbar .navbar-fixed-top{top:30px}body.toolbar.navbar-is-fixed-top{padding-top:94px!important}body.toolbar-drawer{padding-top:64px!important}body.toolbar-drawer .navbar-fixed-top{top:64px}body.toolbar-drawer.navbar-is-fixed-top{padding-top:128px!important}body.admin-menu .navbar-fixed-top{top:29px}body.admin-menu.navbar-is-fixed-top{padding-top:93px!important}body div#admin-toolbar{z-index:1600}body #toolbar,body #admin-menu,body #admin-toolbar{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}body #admin-menu{margin:0;padding:0;position:fixed;z-index:1600}body #admin-menu .dropdown li{line-height:normal}.navbar.container{margin-top:2px}@media screen and (min-width:768px){.navbar.container{max-width:720px}}@media screen and (min-width:992px){.navbar.container{max-width:940px}}@media screen and (min-width:1200px){.navbar.container{max-width:1140px}}.navbar.container>.container{margin:0;padding:0;width:auto}#overlay-container,.overlay-modal-background,.overlay-element{z-index:1500}#toolbar{z-index:1600}.modal{z-index:1620}.modal-dialog{z-index:1630}.modal-backdrop{z-index:1610}
.element-invisible{margin:0;padding:0;width:1px}.navbar .logo{margin-right:-15px;padding-left:15px;padding-right:15px}@media screen and (min-width:768px){.navbar .logo{margin-right:0;padding-left:0}}ul.secondary{float:left}@media screen and (min-width:768px){ul.secondary{float:right}}.page-header{margin-top:0}.block:first-child h2.block-title{margin-top:0}p:last-child{margin-bottom:0}.region-help>.glyphicon{font-size:18px;float:left;margin:-.05em .5em 0 0}.region-help .block{overflow:hidden}form#search-block-form{margin:0}.navbar #block-search-form{float:none;margin:5px 0 5px 5px}@media screen and (min-width:992px){.navbar #block-search-form{float:right}}.navbar-search .control-group{margin-bottom:0}ul.action-links{margin:12px 0;padding:0}ul.action-links li{display:inline;margin:0;padding:0 6px 0 0}ul.action-links .glyphicon{padding-right:.5em}input,textarea,select,.uneditable-input{max-width:100%;width:auto}input.error{color:#b94a48;border-color:#ebccd1}fieldset legend.panel-heading{float:left;line-height:1em;margin:0}fieldset .panel-body{clear:both}fieldset .panel-heading a.panel-title{color:inherit;display:block;margin:-10px -15px;padding:10px 15px}fieldset .panel-heading a.panel-title:hover{text-decoration:none}.form-actions{clear:both}.resizable-textarea textarea{border-radius:4px 4px 0 0}.radio:first-child,.checkbox:first-child{margin-top:0}.radio:last-child,.checkbox:last-child{margin-bottom:0}.help-block,.control-group .help-inline{color:#999;font-size:12px;margin:5px 0 10px;padding:0}.panel-heading{display:block}a.tabledrag-handle .handle{height:auto;width:auto}.error{color:#b94a48}div.error,table tr.error{background-color:#f2dede;color:#b94a48}.control-group.error{background:0}.control-group.error label,.control-group.error .control-label{color:#b94a48;font-weight:600}.control-group.error input,.control-group.error textarea,.control-group.error select,.control-group.error .uneditable-input{color:#555;border:1px solid #ccc}.control-group.error .help-block,.control-group.error .help-inline{color:#333}.list-inline>li.first{padding-left:0}.nav-tabs{margin-bottom:10px}ul li.collapsed,ul li.expanded,ul li.leaf{list-style:none;list-style-image:none}.tabs--secondary{margin:0 0 10px}.submitted{margin-bottom:1em;font-style:italic;font-weight:400;color:#777}.password-strength{width:17em;float:right;margin-top:1.4em}.password-strength-title{display:inline}.password-strength-text{float:right;font-weight:700}.password-indicator{background-color:#949494;height:.3em;width:100%}.password-indicator div{height:100%;width:0;background-color:#999}input.password-confirm,input.password-field{width:16em;margin-bottom:.4em}div.password-confirm{float:right;margin-top:1.5em;visibility:hidden;width:17em}div.form-item div.password-suggestions{padding:.2em .5em;margin:.7em 0;width:38.5em;border:1px solid #B4B4B4}div.password-suggestions ul{margin-bottom:0}.confirm-parent,.password-parent{clear:left;margin:0;width:36.3em}.progress-wrapper .progress{margin-bottom:10px}.pagination ul>li>a.progress-disabled{float:left}.form-autocomplete .glyphicon{color:#999;font-size:120%}.form-autocomplete .glyphicon.glyphicon-spin{color:#428bca}.form-autocomplete .input-group-addon{background-color:#fff}.ajax-progress .glyphicon{font-size:90%;margin:0 -.25em 0 .5em}.glyphicon-spin{display:inline-block;-moz-animation:spin 1s infinite linear;-o-animation:spin 1s infinite linear;-webkit-animation:spin 1s infinite linear;animation:spin 1s infinite linear}a .glyphicon-spin{display:inline-block;text-decoration:none}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}.glyphicon-refresh{-webkit-transform-origin:50% 45%;-moz-transform-origin:50% 45%;-ms-transform-origin:50% 45%;-o-transform-origin:50% 45%;transform-origin:50% 45%}.tabbable{margin-bottom:20px}.tabs-below>.nav-tabs,.tabs-left>.nav-tabs,.tabs-right>.nav-tabs{border-bottom:0}.tabs-below>.nav-tabs .summary,.tabs-left>.nav-tabs .summary,.tabs-right>.nav-tabs .summary{color:#999;font-size:12px}.tab-pane>.panel-heading{display:none}.tab-content>.active{display:block}.tabs-below>.nav-tabs{border-top:1px solid #ddd}.tabs-below>.nav-tabs>li{margin-top:-1px;margin-bottom:0}.tabs-below>.nav-tabs>li>a{border-radius:0 0 4px 4px}.tabs-below>.nav-tabs>li>a:hover,.tabs-below>.nav-tabs>li>a:focus{border-top-color:#ddd;border-bottom-color:transparent}.tabs-below>.nav-tabs>.active>a,.tabs-below>.nav-tabs>.active>a:hover,.tabs-below>.nav-tabs>.active>a:focus{border-color:transparent #ddd #ddd}.tabs-left>.nav-tabs,.tabs-right>.nav-tabs{padding-bottom:20px;width:220px}.tabs-left>.nav-tabs>li,.tabs-right>.nav-tabs>li{float:none}.tabs-left>.nav-tabs>li:focus,.tabs-right>.nav-tabs>li:focus{outline:0}.tabs-left>.nav-tabs>li>a,.tabs-right>.nav-tabs>li>a{margin-right:0;margin-bottom:3px}.tabs-left>.nav-tabs>li>a:focus,.tabs-right>.nav-tabs>li>a:focus{outline:0}.tabs-left>.tab-content,.tabs-right>.tab-content{border-radius:0 4px 4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);-moz-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05);border:1px solid #ddd;overflow:hidden;padding:10px 15px}.tabs-left>.nav-tabs{float:left;margin-right:-1px}.tabs-left>.nav-tabs>li>a{border-radius:4px 0 0 4px}.tabs-left>.nav-tabs>li>a:hover,.tabs-left>.nav-tabs>li>a:focus{border-color:#eee #ddd #eee #eee}.tabs-left>.nav-tabs>.active>a,.tabs-left>.nav-tabs>.active>a:hover,.tabs-left>.nav-tabs>.active>a:focus{border-color:#ddd transparent #ddd #ddd;-webkit-box-shadow:-1px 1px 1px rgba(0,0,0,.05);-moz-box-shadow:-1px 1px 1px rgba(0,0,0,.05);box-shadow:-1px 1px 1px rgba(0,0,0,.05)}.tabs-right>.nav-tabs{float:right;margin-left:-1px}.tabs-right>.nav-tabs>li>a{border-radius:0 4px 4px 0}.tabs-right>.nav-tabs>li>a:hover,.tabs-right>.nav-tabs>li>a:focus{border-color:#eee #eee #eee #ddd;-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.05);-moz-box-shadow:1px 1px 1px rgba(0,0,0,.05);box-shadow:1px 1px 1px rgba(0,0,0,.05)}.tabs-right>.nav-tabs>.active>a,.tabs-right>.nav-tabs>.active>a:hover,.tabs-right>.nav-tabs>.active>a:focus{border-color:#ddd #ddd #ddd transparent}th.checkbox,td.checkbox,th.radio,td.radio{display:table-cell}.views-display-settings .label{font-size:100%;color:#666}.views-display-settings .footer{padding:0;margin:4px 0 0}table .radio input[type=radio],table .checkbox input[type=checkbox]{max-width:inherit}.form-horizontal .form-group label{position:relative;min-height:1px;margin-top:0;margin-bottom:0;padding-top:7px;padding-left:15px;padding-right:15px;text-align:right}@media (min-width:768px){.form-horizontal .form-group label{float:left;width:16.666666666666664%}}.alert a{font-weight:700}.alert-success a{color:#356635}.alert-info a{color:#2d6987}.alert-warning a{color:#a47e3c}.alert-danger a{color:#953b39}

.footer {
  margin-top:0px;
  padding-top:15px;
  padding-bottom:16px;
  border-top:1px solid #E5E5E5;
  background: #777;
}
h1 {
  font-size: 25px;
  color: #C47E11;
  font-weight: 500;
}
h2 {
  font-size: 23px;
  color: #C47E11;
  font-weight: 500;
  margin-top: 10px;
}
p {
  text-align: justify;
  line-height: 1.7;
  font-size: 13px;
  color: #666;
}
li {
  color: #666;
}
.page-wrapper {
  width: 1090px;
  margin: 0 auto;
  box-shadow: 1px 1px 13px #555;
  background-color: #fff;
}
.bottom {
  margin: 0 0 1.5em;
}
.preface {
  background: #F3F3F3;
  padding: 1em 12px 1.5em;
  border-top: 1px solid #E4E2E2;
}
.navbar-default {
  background-color: #fff;
  border-color: #fff;
}
.navbar-collapse {
  background-color: #333;
}
.container {
  width: 1090px;
}
.lead {
  font-size: 19px;
  font-family: "Yesteryear";
  color: #F59603;
}
.region-header {
  border: 1px solid #ccc;
  padding: 4px 3px 3px 8px;
  margin: 0 0 1em;
}
.navbar-brand, .navbar>.container .navbar-brand {
  font-size: 28px;
  font-family: Oswald;
  font-weight: 500;
  padding: 30px 15px 10px;
  color: #222;
}

/* Menu navigation */
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
  font-family: Oswald;
  letter-spacing: 1px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: #F59603
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus
{
  color: #fff;
  background-color: #F59603
}
.secondary_menu {
  width: 34%;
  float: right;
  padding-right: 4px;
}
.secondary_menu .nav>li  {
  display: inline;
  color: #333;
}
.secondary_menu .nav>li>a  {
  display: inline;
  color: #333;
  padding: 10px 4px;
  font-size: 13px;
}
.secondary_menu .nav {
  background: #ccc;
  padding: 3px 0 5px 9px;
  border-radius: 0 0 8px 8px;
  margin: 0 0 19px;
}
.navbar-nav>li>.dropdown-menu {
  background: #e7e7e7;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a {
  background: #F59603;
  color: #fff;
}


/* Tabs Style */
#quicktabs-homepage_tabs {
  height: 290px;
  margin: 5px 0 0 0;
}
.quicktabs_main.quicktabs-style-basic {
  height: 262px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
ul.quicktabs-tabs.quicktabs-style-basic {
  border-bottom: 1px solid #ccc;
  padding: 0 0 1.8em;
}
ul.quicktabs-tabs.quicktabs-style-basic li.active {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#quicktabs-homepage_tabs ul li, ul.quicktabs-tabs.quicktabs-style-basic li {
  padding: 6px 14px;
}
.col-sm-9 .col-sm-6 .quicktabs_main.quicktabs-style-basic {
  height: 246px;
}
ul.quicktabs-tabs.quicktabs-style-basic li.active a {
  color: #222;
}

/* Page Style */
.banner {
  padding: 0 0 18px;
}
.theme-default .nivo-controlNav {
/*  text-align: right;
  padding: 0; */
  display: none;
}
.region-content {
  margin: 0 0 25px;
  border-bottom: 1px dotted #ccc;
  padding: 0 0 15px;
  min-height: 180px;
}
.nivo-caption {
  padding: 15px 10px;
}
.input-group .form-control {
  width: 180px;
  float: right;
}
.view-id-top_students .views-row, 
.view-id-news .views-row  
{
  border-bottom: 1px dotted #ccc;
  padding: 10px 0;
}
.view-id-top_students .views-field-field-upload-student-photo img, 
.view-id-news .views-field-field-upload-new-images img 
{
  border: 1px solid #ccc;
  padding: 2px;
  float: left;
  margin: 0 1em 0 0;
}
.view-id-top_students .views-field-title,
.view-id-news .views-field-title a {
  color: #444;
  font-family: Oswald;
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 4px;
}
.view-id-top_students .views-field-field-qualification,
.view-id-news .views-field-field-date
{
  color: #F59603;
  font-size: 12px;
  font-weight: bold;
}
.view-id-news .more-link {
  text-align: right;
  margin: 1em 0;
}
.more-link a {
  color: #A21919;
  text-decoration: none;
  font-family: "Lobster";
  font-size: 15px;
}
.more-link a:hover {
  color: #444;
  text-decoration: none;
}
table.home_quicklinks, table.home_quicklinks td {
  background: #FFEFAF;
  border: 1px solid #ccc;
  margin: 15px 0 0 0;
  padding: 5px;
  vertical-align: bottom;
}
table.home_quicklinks, table.home_quicklinks a {
  color: #333;
  text-decoration: none;
} 
table.home_quicklinks, table.home_quicklinks a:hover {
  color: #F59603;
}
.table_td td {
  vertical-align: middle;
  border: 1px solid #ccc;
  padding: 3px 6px;
}

#block-block-3 {
  border: 1px solid #ccc;
  margin: 18px 0;
  padding: 0 11px 11px;
}
#block-block-5 table {
  border: 1px solid #ccc;
  padding: 10px;
  height: 235px;
}
#block-block-5 table td {
  padding: 0px 10px;
}
#block-system-main .field-type-datetime {
  margin: 0 0 1em;
  font-weight: bold;
}
.view-id-placementclients .liScroll-container {
  height: 80px;
  width: 1070px;
}
.view-id-placementclients .liScroll-container .mask {
  top: 0;
  width: 1060px;
  height: 80px;
  left: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 15px solid #555;
  border-right: 15px solid #555;
}
.view-id-placementclients .liScroll-container .mask ul#views-ticker-liScroll-placementclients {
  width: 1070px;
}
.view-id-placementclients .liScroll-container img {
  margin: 0 10px;
}
#block-views-placementclients-block-1 h2 {
  font-size: 1.4em;
  padding: 0 0 7px;
}

.preface_one,
.preface_two,
.preface_three {
  padding: 0 10px 0 0;
}
.preface_four,
.preface_five {
  padding: 0 0 0 10px;
}
.preface h2 {
  font-size: 1.45em;
  color: #D58305;
  padding: 0 0 6px;
}
.preface ul {
  padding: 0 0 0 9px;
}
.preface ul li {
  padding: 2px 0 0 1.3em;
  list-style: none;
  background: url('arrow-06.png') no-repeat 0%;
}
.preface ul li a {
  color: #444;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  font-family: verdana;
  margin: 5px 0;
}
.preface ul li a:hover {
  color: #F59603;
  text-decoration: none;
}
.preface_three img {
  padding: 2px;
  border: 1px solid #ccc;
  margin: 0 0 5px;
}
.footer p {
  color: #fff;
  font-family: "Yesteryear";
  font-size: 17px;
}
.region-header h2 {
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin: 0 10px 0 0;
  padding: 2px 0 0 0;
}
.col-sm-3 .view-id-news .more-link {
  margin: 6px 0;
}
#block-block-4 {
  margin: 1.5em 0;
}
.view-id-image_gallery img {
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0 0 5px;
}
.view-id-image_gallery .views-field-title {
  color: #444;
}









